name: Build

on:
  push:
  pull_request:
    branches: [main]

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - name: Check out
        uses: actions/checkout@v4

      - name: Set up Node
        uses: actions/setup-node@v4
        with:
          node-version: 24
          cache: yarn

      - name: Install
        run: yarn

      - name: Lint
        run: yarn lint

  build:
    needs: lint
    runs-on: ubuntu-latest

    steps:
      - name: Check out
        uses: actions/checkout@v4

      - name: Set up Node
        uses: actions/setup-node@v4
        with:
          node-version: 24
          cache: yarn

      - name: Create Koishi environment
        run: yarn create koishi --cwd /tmp/koishi-env

      - name: Copy plugin to Koishi
        run: cp -r . /tmp/koishi-env/external/hereditas

      - name: Install dependencies
        run: cd /tmp/koishi-env && yarn

      - name: Build
        run: cd /tmp/koishi-env && yarn build

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: build-artifacts
          path: /tmp/koishi-env/external/hereditas/lib
