name: Lint

on:
  push:
  pull_request:
    branches: [main]

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - name: Check out
        uses: actions/checkout@v4

      - name: Set up Node
        uses: actions/setup-node@v4
        with:
          node-version: 24

      - name: Enable Corepack
        run: corepack enable

      - name: Set Yarn version
        run: corepack prepare yarn@4 --activate

      - name: Install
        run: yarn
        env:
          YARN_ENABLE_IMMUTABLE_INSTALLS: false

      - name: Lint
        run: yarn lint
